:root {
  --text: #ffffff;
  --background: black;
  --primary-button: #ff4c29;
  --secondary-button: #eef6f1;
  --head: "Cinzel", serif;
  --body: "Lora", serif;
  --sub: "Quattrocento", serif;
  --background-url: url("https://i.imgur.com/9s3NJVg.jpg");
  --gradient-bg: radial-gradient(rgb(23, 43, 52), black);
  --card-bg: rgba(40, 40, 40, 0.468);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body);
  background-color: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

.fade {
  opacity: 0;
  animation: fadeIn 0.9s 1 ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.721);
  display: flex;
  border-bottom: 1px solid white;
}

.header--title {
  font-size: 1.8rem;
  margin-right: auto;
  padding: 20px 70px;
  background-color: transparent;
  font-family: var(--sub);
  font-style: italic;
  cursor: pointer;
}

.header--title p {
  background-color: transparent;
}

.nav--container {
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  width: 30%;
  justify-content: space-around;
  background-color: transparent;
}

.nav--item {
  padding: 5px;
  background-color: transparent;
}

/* home */

.home--container {
  background-image: var(--background-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: fit-content;
}

.hero--text {
  padding-top: 40vh;
  font-size: 4rem;
  background-color: transparent;
  text-align: center;
  font-family: var(--head);
}

.explore--container {
  background-color: transparent;
  margin: 20px auto;
  width: fit-content;
}

.explore--button {
  background-color: var(--primary-button);
  font-size: 1.4rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--sub);
}

/* destinations */

.destinations--container,
.about--container {
  background-image: var(--gradient-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-top: 10vh;
  min-height: 90vh;
  max-height: fit-content;
}

.card--container {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.card--boundary {
  background-color: var(--card-bg);
  margin: 10px;
  height: 17rem;
  width: 24rem;
  padding: 10px;
  border-radius: 10px;
}

.card--img {
  height: 55%;
  width: 90%;
  margin: 10px auto;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.card--buy,
.card--status {
  background-color: var(--primary-button);
  height: fit-content;
  font-size: 1rem;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

.card--head {
  background-color: transparent;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--title,
.card--price {
  background-color: transparent;
  font-family: var(--sub);
  font-size: 1.3rem;
}

.card--price {
  font-size: 1.1rem;
}

.card--description {
  background-color: transparent;
  width: 90%;
  margin: 0 auto;
  font-size: 1.1rem;
}

/* about */

.about--content {
  background-color: transparent;
  height: 70vh;
  margin: 15vh 0;
}
.about--text {
  font-size: 1.4rem;
  font-family: var(--sub);
  background-color: var(--card-bg);
  border-radius: 10px;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  line-height: 2.6rem;
  padding: 1rem;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  background-color: transparent;
}

.footer--content,
footer a {
  font-size: 1rem;
  padding: 10px;
  background-color: transparent;
}

.icon {
  background-color: transparent;
}
